{% extends "MasterPage/DatatableAdminMasterPage.html" %}
{% load staticfiles %}

{% block head_datatable %}
<link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
<style type="text/css">
</style>
{% endblock %}

{% block content_datatable %}
<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						{{ title }}
					</h2>
				</div>
				<table border="0" cellspacing="5" cellpadding="5">
					<tbody>
						<tr>
							<td>Start Date:</td>
							<td><input type="text" id="startDate" name="startDate" onkeydown="return false"></td>
							<td width="50px"></td>
							<td>End Date:</td>
							<td><input type="text" id="endDate" name="endDate" onkeydown="return false"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-striped table-hover dataTable jsDT-view">
					<thead>
						<tr>
							<th>Index</th>
							<th>Workstation ID</th>
							<th>Concern</th>
							<th>Raised Timestamp</th>
							<th>Acked</th>
						</tr>
					</thead>
					<tbody>
						{% for Issue in Issues %}
						<tr>
							<td>{{ Issue.id }}</td>
							<td>{{ Issue.workstation_id }}</td>
							<td>{{ Issue.concern }}</td>
							<td>{{ Issue.issue_raised_timestamp|date:'Y-m-d H:i:s' }}</td>
							<td>{% if Issue.acked %}True{% else %}False{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Index</th>
							<th>Workstation ID</th>
							<th>Concern</th>
							<th>Raised Timestamp</th>
							<th>Acked</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block tail_datatable %}
<!-- Page Script -->
<script src="{% static 'Admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script>
	$(function () {
		var selected_start_date = new Date(1970, 1, 1, 0, 0, 0, 0);
		var selected_end_date = new Date(2099, 12, 31, 23, 59, 59, 999);
		$('#startDate').datepicker({
			autoclose: true,
			format: 'dd/mm/yyyy',
			todayBtn: "linked",
			clearBtn: true,
		})
		.on('changeDate', function(e) {
			// Revalidate the date field
			selected_start_date = e.date;
		});
		$('#endDate').datepicker({
			autoclose: true,
			format: 'dd/mm/yyyy',
			todayBtn: "linked",
			clearBtn: true,
		})
		.on('changeDate', function(e) {
			// Revalidate the date field
			selected_end_date = e.date;
		});
		$.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
			var date = new Date(data[3]);
			if (date >= selected_start_date && date <= selected_end_date)
				return true;
			// console.log(startdate);
			// var min = parseInt( $('#startDate').val(), 10 );
			// var max = parseInt( $('#endDate').val(), 10 );
			// var age = parseFloat( data[3] ) || 0; // use data for the age column

			// if ( ( isNaN( min ) && isNaN( max ) ) ||
			// 	( isNaN( min ) && age <= max ) ||
			// 	( min <= age   && isNaN( max ) ) ||
			// 	( min <= age   && age <= max ) )
			// {
			// 	return true;
			// }
			return false;
		});
	});
</script>
{% endblock %}