{% extends "MasterPage/DatatableAdminMasterPage.html" %}

{% block content_datatable %}
<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						{{ title }}
					</h2>
				</div>
				<table class="table table-bordered table-striped table-hover dataTable jsDT-view">
					<thead>
						<tr>
							<th>Index</th>
							<th>Issue</th>
							<th>Acked Timestamp</th>
							<th>SupportPersonnel</th>
							<th>Remarks</th>
						</tr>
					</thead>
					<tbody>
						{% for Acknowledgement in Acknowledgements %}
							<tr>
								<td>{{ Acknowledgement.id }}</td>
								<td>{{ Acknowledgement.issue }}</td>
								<td>{{ Acknowledgement.issue_acked_timestamp }}</td>
								<td>{{ Acknowledgement.supportPersonnel }}</td>
								<td>{{ Acknowledgement.remarks }}</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Index</th>
							<th>Issue</th>
							<th>Acked Timestamp</th>
							<th>SupportPersonnel</th>
							<th>Remarks</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block tail_datatable %}
<!-- Page Script -->
<script>
	$(function () {
		var datas = [];
		{% for SolvedAcknowledgementBySupportPersonnel in SolvedAcknowledgementsBySupportPersonnel %}
		var data = { label: '{{ SolvedAcknowledgementBySupportPersonnel.name }}', value: {% widthratio SolvedAcknowledgementBySupportPersonnel.count_acknowledgement TotalSolvedAcknowledgements 100.0 %} };
		datas.push(data);
		{% endfor %}
		var DonutChartData = {element: 'donut_chart', data: datas, colors: ['rgb(233, 30, 99)', 'rgb(0, 188, 212)', 'rgb(255, 152, 0)', 'rgb(0, 150, 136)', 'rgb(96, 125, 139)'], formatter: function(y) { return y + '%' }, resize: true};
		//Widgets count
		$('.count-to').countTo();
		Morris.Donut(DonutChartData);
	});
</script>
{% endblock %}